---
layout: splash
title: Establishing Trust across the System Stack
permalink: /
author_profile: false
header:
  overlay_color: "#000"
  overlay_filter: "0.5"
  overlay_image: /assets/img/wild-unsplash.jpg
  caption: "A wild board in its natural habitat [**Unsplash**](https://unsplash.com)"
excerpt: "We, the TEE group at imec-DistriNet at KU Leuven, have a wide range of experience doing things."

intro: 
  - excerpt: "**This page is still under construction!**. Most of our work is focused on the following three research areas below."

feature_row:
  - image_path: /assets/img/chip-jump-unsplash.jpg 
    alt: "chip"
    title: "Theme 1"
    excerpt: "This is some sample content that goes here with **Markdown** formatting."
    url: /theme1/
    btn_label: "Read More"
    btn_class: "btn--primary"
  - image_path: /assets/img/magnifying-glass-unsplash.jpg
    image_caption: "Hackers always use magnifying glasses! Source [Unsplash](https://unsplash.com/)"
    alt: "Hackers always use magnifying glasses!"
    title: "Theme 2"
    excerpt: "This is some sample content that goes here with **Markdown** formatting."
    url: /theme2/
    btn_label: "Read More"
    btn_class: "btn--primary"
  - image_path: /assets/img/chip-unsplash.jpg
    title: "Theme 3"
    excerpt: "This is some sample content that goes here with **Markdown** formatting."
    url: /theme3/
    btn_label: "Read More"
    btn_class: "btn--primary"
---



{% include feature_row id="intro" type="center" %}

{% include feature_row %}
